/* INICIO Topo__________________________________________*/
.nav_header {
	background-color: #F2F2F2;
}

.logo img {
	height: 40px;
	margin: 10px;
}

.botao_box {
	text-align: right;
}

.btn-outline-primary {
	width: 80px;
	letter-spacing: 1px;
	color: #336699;
	border: 1px solid #336699;
	margin: 10px;
}

.btn-outline-primary:hover {
	background-color: #336699;
	border: 1px solid #336699;
}


/* INICIO Titulos e icones______________________________________*/
.title {
	color: #336699;
	text-align: center;
	font-size: 30px;
	font-weight: 450;
	letter-spacing: 1px;
	padding: 40px;
}

.bar_icon {
	background-color: #336699;
	padding: 80px 0;
}

.icon {
	color: #fff;
	text-align: center;
}

.icon i {
	font-size: 130px;
}

.icon p {
	font-size: 20px;
	font-weight: 450;
	letter-spacing: 1px;
	margin: 10px 0 0 0;
}

.icon_rede {
	color: #336699;	
	font-size: 350px;
	
}

/* INICIO Set para imagens que vem do lado direito*/
.icon_box_r {
	background-color: #336699;
	color: #fff;
	font-size: 200px;
	border-top-left-radius: 50px; 
	border-bottom-left-radius: 50px;
	padding-left: 50px;
	margin: 30px 0;
	animation-name: side_r;
	animation-duration: 2s;
}

.text_box_r {
	text-align: right;
	padding-top: 7%;
	animation-name: side_l;
	animation-duration: 2s;
}

.text_box_r h3 {
	color: #336699;
	font-size: 40px;
}

.text_box_r p {
	color: #555;
	font-size: 30px;
}

/* INICIO Set para imagens que vem do lado esquerdo*/
.icon_box_l {
	background-color: #336699;
	color: #fff;
	font-size: 200px;
	text-align: right;
	border-top-right-radius: 50px; 
	border-bottom-right-radius: 50px;
	padding-right: 50px;
	margin: 30px 0;
	animation-name: side_l;
	animation-duration: 2s;
}

.text_box_l {
	text-align: left;
	padding-top: 7%;
	animation-name: side_r;
	animation-duration: 2s;
}

.text_box_l h3 {
	color: #336699;
	font-size: 40px;
}

.text_box_l p {
	color: #555;
	font-size: 30px;
}


/* INICIO modulos______________________________________*/
.mod {
	margin: 50px 0;
}

.sub_mod {
	background-color: #F2F2F2;
	text-align: center;
	border: 5px solid #FFF;
	border-radius: 20px;
	padding: 30px 0;
}

.sub_mod i {
	color: #336699;
	font-size: 130px;
}

.sub_mod h4 {
	color: #336699;
	margin: 10px 0 15px 0;
}

.sub_mod p {
	color: #555;
	font-size: 18px;
} 

/* INICIO Botao de acesso______________________________________*/
.botao_acesso {
	margin: 30px 0;
}

.botao_acesso button {
	background-color: #336699;
	border: 1px solid #336699;
}

.botao_acesso button:hover {
	color: #336699;
	background-color: #FFF;
	border: 1px solid #336699;
}

/* rodape______________________________________*/
.rodape {
	background-color: #F2F2F2;
	text-align: center;
	padding: 10px 0;
}

/* Tela de login______________________________________*/
.box_login {
	background-color: #F2F2F2;
	text-align: center;
	border-radius: 10px;
	margin-top: 80px;
	padding: 50px 30px 30px 30px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.box_login img {
	height: 40px;
	margin-bottom: 20px;
}

.box_login h4 {
	color: #555;
}

.box_login p {
	color: #555;
	margin-bottom: 40px;
}

.box_login button {
	background-color: #336699;
	border: 1px solid #336699;
	margin-left: 320px;
	margin-top: 40px;
}

.box_login button:hover {
	color: #336699;
	background-color: #F2F2F2;
	border: 1px solid #336699;
}

.alert {
	text-align: center;
	margin: 0;
}


/* Menu_______________________________________________*/
.menu {
	background-color: #336699;
	text-align: center;
	padding: 0;
	padding-bottom: 50%;
}
.menuHover {
	background-color: #336699;
	text-align: center;
	padding: 0;
	padding-bottom: 50%;
}
.menu img {
	width: 80%;
	margin: 20px 0 40px 0;
}

.busca {
	background-color: #336699;
	border: 1px solid #FFF;
}

.busca:hover {
	background-color: #0B3861;
}

.search {
	margin-top: 10px;
}

.button_menu button {
	color: #FFF;
	background-color: #336699;
	border: 0;
	font-size: 20px;
	padding: 5px 0;
	margin: 5px 0;
}

.button_menu button:hover {
	background-color: #0B3861;
}

.int_btn {
	text-align: left;
	margin-left: 30px;
}

.set {
	color: #336699;
	background-color: #FFF;
}


/*Tela de cadastro de usuario____________________*/
.card {
	background-color: #F2F2F2;
	margin: 20px 0;
}

.card .btn-primary {
	color: #FFF;
	background-color: #336699;
	border: none;
	text-decoration: none;
	font-size: 20px;
}

.card .btn-primary:hover {
	background-color: #0B3861;
}


.box_cadastro_usuario button {
	background-color: #336699;
	border: 1px solid #336699;
}

.box_cadastro_usuario button:hover {
	color: #336699;
	background-color: #F2F2F2;
	border: 1px solid #336699;
}

/*Tela de usuarios______________________________*/

.box_card {
	margin: 10px 0;
}

.btn_top {
	color: #FFF;
	background-color: #336699;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
	border-radius: 4px;
	padding: 10px;
}

.btn_top:hover {
	background-color: #0B3861;
}

.body_card {
	background-color: #F2F2F2;
	border: 1px solid #D8D8D8;
	border-radius: 4px;
	padding: 25px;
	margin-bottom: 20px;
}

.box_content {
	padding: 10px;
}

.card-header {
	background-color: #FFF;
}

.cliente {
	background-color: #FFF;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.box_dados {
	display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    /*border: 1px solid #ced4da;*/
    border-radius: .25rem;
}
